<div class="container">
  <div class="wrapper">
    <h1 class="title">
      {{ title }}
    </h1>
    <div class="calculator">
      <div class="display">
        {{ firstOperand ?? "---" }} {{ operator ?? "" }}
      </div>
      <div class="display">
        {{ displayValue }}
      </div>
      <div class="button-container">
        <div class="button-wrapper">
          <div class="w-2/4">
            <button class="button" (click)="onClearClick()">AC</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onDeleteClick()">DEL</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onOperatorClick('/')">/</button>
          </div>
        </div>
        <div class="button-wrapper">
          <div class="w-1/4">
            <button class="button" (click)="onDigitClick('7')">7</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onDigitClick('8')">8</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onDigitClick('9')">9</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onOperatorClick('*')">*</button>
          </div>
        </div>
        <div class="button-wrapper">
          <div class="w-1/4">
            <button class="button" (click)="onDigitClick('4')">4</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onDigitClick('5')">5</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onDigitClick('6')">6</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onOperatorClick('-')">-</button>
          </div>
        </div>
        <div class="button-wrapper">
          <div class="w-1/4">
            <button class="button" (click)="onDigitClick('1')">1</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onDigitClick('2')">2</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onDigitClick('3')">3</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onOperatorClick('+')">+</button>
          </div>
        </div>
        <div class="button-wrapper">
          <div class="w-1/4">
            <button class="button" (click)="onNegativeClick()">+/-</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onDigitClick('0')">0</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onDecimalClick()">.</button>
          </div>
          <div class="w-1/4">
            <button class="button" (click)="onEqualClick()">=</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
